<footer class="site-footer">

  <div class="wrapper">
      <div class="container d-block">
      <div class="row" >
          
        <div class="col">
          {{ site.title }} {{ site.time | date: '%Y' }} <br/> <span class="text-muted small"> Contact <a href="mailto:info@cocodev.fr">info@cocodev.fr</a></span>
        </div>
        <div class="col">
          <a href="https://www.ilcb.fr/"><img alt="ILCB logo" src="{{ site.baseurl }}/img/clipart/ilcb_logo.png " style="width: 100%"/></a>
        </div>
        <div class="col">
          <a href="https://www.univ-amu.fr/"><img alt="AMU logo" src="{{ site.baseurl }}/img/clipart/logo_AMU_color.png" style="width: 70%;"/></a>
        </div>
          <div class="col">
          <a href="https://www.anr.fr/"><img alt="ANR logo" src="{{ site.baseurl }}/img/clipart/anr_logo.png" style="width: 100%;"/></a>
        </div>
          </div>
          
          
          <div class="row" >
              <p> <br> </p>
          </div>
          
          </div>
  </div>

</footer>
